bin/
obj/
[Bb]uild/
[Bb]uilds/
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
*.userosscache
*.sln.ide
launchSettings.json
*.log
.DS_Store
Thumbs.db
publish/
*.dbmdl
.idea/
*.sln.iml
TestResults/
*.coverage
*.coveragexml
*.codecoverage
*.trx
*.log
coverage/
Generated_Code/
secrets.json
*.pidb
*.sdf
*.sqlite
*.cache
*.bak
**/docker-compose.override.yml
**/docker-compose*.yml
.docker/
.env
.env.*
